<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<style>
		img {
		  border-radius: 50%;
		}
		</style>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/publications">Publications</a></li>
    		</ul>
		</nav>
		<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rfdop20@gmail.com">rfdop20@gmail.com</a></li>
	        		<li><a href="https://github.com/pena-rodrigo">github.com/pena-rodrigo</a></li>
				</ul>
			</footer>
		</body>
	</html>
