<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<style>
		img {
		  border-radius: 50%;
		}
		</style>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/publications">Publications</a></li>
				<li><a href="/presentations">Selected presentations</a></li>
				<li><a href="/news">News</a></li>
    		</ul>
		</nav>
		<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
					<li><a href="mailto:pena@njit.edu">[pena@njit.edu]</a></li>
	        		<li><a href="mailto:rfdop20@gmail.com">[rfdop20@gmail.com]</a></li>
	        		<li><a href="https://github.com/pena-rodrigo">[github]</a></li>
					<li><a href="https://scholar.google.com.br/citations?hl=en&user=17avyRAAAAAJ&view_op=list_works&sortby=pubdate">[scholar]</a></li>
					<li><a href="https://www.linkedin.com/in/rodrigo-pena-34793417/">[linkedin]</a></li>
					<li><a href="https://twitter.com/rfo_pena">[twitter]</a></li>
				</ul>
			</footer>
		</body>
	</html>
